h3 {
	margin-bottom: 50px;
}

form {
	margin-top: 20px;
}

label {
	font-weight: bold;
}

.badge-success {
	margin-left: 10px;
  background-color: #28a745;
}

.info-showup { 
	margin-left: 5px;
	opacity: 1; 
	transition: opacity 0s, height 0s;
}

.info-showup.info-hide { 
	opacity: 0;
	height: 0;
	transition: opacity 0.5s linear, height 0s linear 0.5s;
}

div.form-group {
	margin-top: 20px;
}